nav {
  font-weight: bold !important;
}

.navBrand {
  color: var(--bg-verde-color);
  font-weight: bold;
}

.navBrandScroll {
  background-color: var(--bg-azul-color);
}

.colorNav {
  font-weight: bold;
}

a.nav-link {
  color: black !important;
}

#about {
  padding: 30px;
}
