#about {
    margin-top: 40px;
}

.img-about {
    width: 100%;
    height: auto;
    border-radius: 30px 200px 30px 200px;
}

.img-div {
    background-color: #16B83E;
    border-radius: 30px 200px 30px 200px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.big-title {
    font-size: 70pt;
    line-height: 75px;
    font-family: "DM Serif Display", serif;
    font-weight: 900;
    color: #1651B8;
}

.p-about {
    line-height: 32px;
    margin-top: 18px;
}

.since {
    font-weight: 700;
}

.license {
    color: rgb(120, 120, 120);
}

@media screen and (max-width: 1023px) {
    .img-about {
        border-radius: 15px 80px 15px 80px;
    }

    .img-div {
        background-color: #16B83E;
        border-radius: 15px 80px 15px 80px;
        margin-top: 20px;
    }

    .big-title {
        font-size: 50pt;
        line-height: 55px;
    }
}


    /* background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px #1651B8;

    background-image: url("../src/assets/faixa.png");
    background-size: 1000px;
    animation: bg-animation 30s cubic-bezier(.12,.13,.81,.81) infinite; */

/* @keyframes bg-animation {
    0% {background-position: 0% 0%;}
    50% {background-position: 100% 100%;}
    100% {background-position: 0% 0%;}
} */